.main-home {
  background-color: #0f172a;
  height: 98vh;
}

.social-links > li {
  margin-top: 14px;
  font-size: 28px;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-links > li > a {
  color: #818cf8;
  padding: 10px;
}

.social-links li:hover {
  transform: translateY(-5px); /* Move icon up on hover */
}

.social-links a {
  transition: transform 0.3s ease-in-out;
}

.social-links a:hover {
  transform: scale(1.2); /* Scale icon on hover */
}

/* .imgbox {
  background-image: url("../../../public/assets/image/profile.jpg");
  background-position: center;
  background-clip: border-box;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  border-radius: 24px;
} */

.img-container {
  position: relative;
  height: 310px;
  width: 310px;
  border-radius: 50%; /* Circular border effect */
  padding: 5px;
}

.imgbox {
  background-image: url("../../../public/assets/image/profile.jpg");
  background-position: center;
  background-clip: border-box;
  background-repeat: no-repeat;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  position: relative;
  z-index: 1;
}

.img-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #ff0080, #ff8c00, #40e0d0);
  background-size: 300% 300%;
  animation: moveBorder 1.2s linear infinite;
  z-index: 0;
}

@keyframes moveBorder {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.text-home {
  color: #ffff;
}

.my-name {
  font-weight: 700;
  font-size: 50px;
}

.specialty {
  font-size: 32px;
  margin: 4px 0;
}

.text-page {
  max-width: 600px;
  margin: 20px 0;
}

.field {
  width: 300px;
}

.mouse {
  width: 26px;
  height: 48px;
  border: 3px solid #818cf8;
  border-radius: 60px;
  position: relative;
  &::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #818cf8;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 40px;
  }
}

.scroll-down {
  color: #ffff;
  margin-left: 14px;
}

.size-icon {
  transform: rotateY(0deg) rotate(45deg);
  color: #ffff;
}

.size-icon:hover {
  cursor: pointer;
}

/* End Main Home */

.spec-row {
  background-color: #1e293b;
}

.frontend,
.backend {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  width: 300px;
  height: 60px;
  background-color: #a4a2c4;
  color: #ffff;
  opacity: 0.6;
}

.frontend-text,
.backend-text {
  width: 300px;
  color: #ffff;
}

.frontend-text > h4 {
  font-weight: 700;
  color: #6366f1;
  font-size: 30px;
}

.backend-text > h4 {
  font-weight: 900;
  color: #6366f1;
  font-size: 30px;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.frontend-text,
.frontend {
  animation: slideInLeft 1s ease-out forwards;
}

.backend-text,
.backend {
  animation: slideInRight 1s ease-out forwards;
}

/* Services Start */

.servicesOfMain {
  background-color: #6366f1;
  color: #ffff;
  padding: 80px;
}

.h3Andp {
  padding: 14px;
}

.h3Andp > h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}

/* Start Responsive CSS */

@media (min-width: 1050px) {
  .h3Andp {
    display: flex;
    flex-direction: column;
    flex-basis: 33.33%;
  }
  .main-home {
    padding-top: 6rem;
  }
}

@media (max-width: 1050px) {
  .main-home {
    padding-top: 20px;
  }
  .main-3 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    text-align: center;
  }
  .social-links {
    display: flex;
  }
  .social-links > li {
    margin-left: 10px;
  }
  .scrollAndIcon {
    display: none;
  }
  .xyz {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .my-name {
    font-size: 40px;
    margin-top: 20px;
  }
  .specialty {
    margin-top: 20px;
  }
  .text-page {
    padding: 0 40px;
  }

  .frontend-text > h6 {
    max-width: 300px;
  }

  .backend-text > h6 {
    max-width: 300px;
  }
  .contact-div {
    display: none;
  }
}

@media (max-width: 576px) {
  .img-container {
    height: 260px;
    width: 260px;
  }

  .imgbox {
    height: 250px;
    width: 250px;
  }
  .my-name {
    font-size: 30px;
    margin-top: 20px;
  }
  .specialty {
    margin-top: 20px;
    font-size: 22px;
  }
  .servicesOfMain {
    padding: 10px 20px;
  }
}

/* End Responsive CSS */
