.main-home {
  background-color: #0f172a;
  height: 99vh;
}

.social-links > li {
  margin-top: 14px;
  font-size: 28px;
}
.social-links > li > a {
  color: #818cf8;
}

.contact-btn {
  background-color: #818cf8;
}

.imgbox {
  background-image: url("../../../public/assets/image/profile.jpg");
  height: 360px;
  width: 360px;
  border-radius: 24px;
}

.text-home {
  color: #ffff;
}

.my-name {
  font-weight: 700;
  font-size: 50px;
}

.specialty {
  font-size: 32px;
  margin: 4px 0;
}

.text-page {
  max-width: 600px;
  margin: 20px 0;
}

.field {
  width: 300px;
}

.mouse {
  width: 26px;
  height: 48px;
  border: 3px solid #818cf8;
  border-radius: 60px;
  position: relative;
  &::before {
    content: "";
    width: 12px;
    height: 12px;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #818cf8;
    border-radius: 50%;
    opacity: 1;
    animation: wheel 2s infinite;
    -webkit-animation: wheel 2s infinite;
  }
}

@keyframes wheel {
  to {
    opacity: 0;
    top: 40px;
  }
}

.scroll-down {
  color: #ffff;
  margin-left: 14px;
}

.size-icon {
  transform: rotateY(0deg) rotate(45deg);
  color: #ffff;
}

.size-icon:hover {
  cursor: pointer;
}

/* End Main Home */

.spec-row {
  background-color: #1e293b;
}

.frontend,
.backend {
  text-align: center;
  font-weight: 700;
  font-size: 40px;
  width: 300px;
  height: 60px;
  background-color: #a4a2c4;
  color: #ffff;
  opacity: 0.6;
}

.frontend-text,
.backend-text {
  width: 400px;
  color: #ffff;
}

.frontend-text > h4 {
  font-weight: 700;
  color: #6366f1;
  font-size: 30px;
}

.backend-text > h4 {
  font-weight: 900;
  color: #6366f1;
  font-size: 30px;
}

@keyframes slideInLeft {
  0% {
    transform: translateX(-50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  0% {
    transform: translateX(50%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.frontend-text,
.frontend {
  animation: slideInLeft 1s ease-out forwards;
}

.backend-text,
.backend {
  animation: slideInRight 1s ease-out forwards;
}

/* Services Start */

.servicesOfMain {
  background-color: #6366f1;
  color: #ffff;
  padding: 10px 60px;
}

.h3Andp {
  padding: 14px;
}

.h3Andp > h3 {
  font-weight: 700;
  font-size: 24px;
  margin-bottom: 8px;
}
