header {
  background-color: #0f172a;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.ul-nav > li {
  margin-left: 16px;
  font-size: 20px;
  font-weight: 600;
  color: #ffff;
}

.logo {
  font-size: 29px;
  font-weight: 600;
}

.logo .telman {
  color: #ffffff;
}

.logo .info {
  background: linear-gradient(90deg, #a24cff, #c1a7ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.icon-dark {
  color: #ffff;
}

.icon-dark:hover {
  cursor: pointer;
}

body {
  padding-top: 60px;
}
